module EasyThemeDesigner
  module IssuesControllerPatch

    def self.included(base)
      base.extend(ClassMethods)
      base.send(:include, InstanceMethods)

      base.class_eval do

        alias_method_chain :index, :easy_theme_designer

      end
    end

    module InstanceMethods

      def index_with_easy_theme_designer
        index_without_easy_theme_designer
      end

    end

    module ClassMethods

    end

  end

end
EasyExtensions::PatchManager.register_controller_patch 'IssuesController', 'EasyThemeDesigner::IssuesControllerPatch'
